.operation-content-view {
  height: 100%;
  overflow: auto;
}
.operation-content-list {
  display: flex;
  flex-wrap: wrap;
  .operation-content-item {
    display: flex;
    align-items: center;
    min-width: 12.5%;
    .item-left {
      // width: 40%;
      display: flex;
      align-items: center;
    }
    .item-num {
      width: 30px;
      text-align: center;
    }
    .item-symbol {
      width: 20px;
      text-align: center;
    }
  }
  .operation-column-spacing {
  }
}